.section-1 {
    margin: 0px;
    background-image: url(/resources/back.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    height: 800px;
}

.navbar {
    width: 90%;
    margin: auto;
    padding: 2em;
}

.menulist ul li{
    display: inline-block;
}

.dropdown-toggle {
    color: white;
    border-radius: 0;
    background-color: transparent;
    border: 0px;
}

.dropdown-toggle.active {
    color: white;
    border-radius: 0;
    background-color: transparent;
    border: 0px;
}

.dropdown-toggle:hover {
    color:rgb(207, 158, 66);
    border-radius: 0;
    background-color: transparent;
    border: 0px;
}

.btn {
    color: white;
    border-radius: 0;
    background-color: transparent;
    border: 0px;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 0%;
}
.dropdown-menu button {
    color: white;
}
.dropdown-menu button:hover {
    color: white;
    background-color: rgb(46, 46, 46);
}
.btn-secondary.active, .btn-secondary.dropdown-toggle, .btn-secondary.dropdown-toggle:focus, .btn-secondary.dropdown-toggle::after, .dropdown-toggle::after   {
    background-color: transparent;
    box-shadow: none;
    transition: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
    transition: none;
}

.maintitle {
    margin-top: 8em;
    text-align: center;
    color: white;
    padding: 5em;
    }
.maintitle span{
    color: rgb(207, 158, 66);
    }
.maintitle H1{
    font-size: 4em;
    }

.maintitle p{
    padding: 1em;
    }

.btn-outline-warning {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 158, 66);
    font-size: 1em;    
}
.btn-outline-warning:hover {
    background-color: rgb(207, 158, 66);
    color: white;
    border-style: none    
}

@media (min-width: 1000px) {
    .section-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }}

@media (max-width: 1000px) {
    .section-2 {
        display: grid;
        grid-template-columns: 1fr;  
    }}

.gridbox {
    text-align: center;
    color: white;
    padding: 2em;
    background-color:black;
    min-height: 300px;   
}
.gridbox img {
    margin-top: 1em;
}
.gridbox2 img {
    margin-top: 1em;
}
.gridbox h2{
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: larger ;
}
.gridbox2 h2{
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: larger ;
}
.gridbox2 {
    text-align: center;
    color: white;
    padding: 2em;
    background-color:rgb(19, 19, 19);
    min-height: 300px
}
.section-3 {
    padding-top: 50px;
    margin: auto;
    width: 90%;
    text-align: center;
}
.boxline {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 158, 66);
    width: 50px;
    margin: auto;
}
.sec3-text-container h2 {
    padding: 0.5em;
}

.sec3-text-container h2 span {
    color: rgb(207, 158, 66);;
}

.sec3-text-container p {
    padding: 1em;
}

.sec-3-navmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sec-3-navmenu ul li {
    list-style: none;
    display: inline-block;
}
.sec-3-navmenu ul li a {
    color: #000000;
    text-decoration: none;
    padding: 20px 10px;
    display: block;
}

.sec-3-navmenu ul li a span{
    color: rgb(207, 158, 66);
    text-decoration: none;
    padding: 20x 10px;
    display: block;
}

.sec3-img-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: space-evenly;
    }

.sec3-img-box {
    padding: 1em;
}

.sec3-img-box h3 span {
    color: rgb(207, 158, 66)
}
.sec3-img-box h3 {
    font-size: larger;
    padding: 1em;
}
